<TITLE> Web pages for AMS Routines </TITLE>
<H1> <A HREF=http://www.mcs.anl.gov/ams>AMS</A> API Routines </H1>
<H2> Accessor API Routines </H2>
<MENU>
<LI> <A HREF=acc/AMS_Comm_attach.html>AMS_Comm_attach</A>
<LI> <A HREF=acc/AMS_Comm_deattach.html>AMS_Comm_deattach</A>
<LI> <A HREF=acc/AMS_Comm_get_memory_list.html>AMS_Comm_get_memory_list</A>
<LI> <A HREF=acc/AMS_Connect.html>AMS_Connect</A>
<LI> <A HREF=acc/AMS_Memory_attach.html>AMS_Memory_attach</A>
<LI> <A HREF=acc/AMS_Memory_deattach.html>AMS_Memory_deattach</A>
<LI> <A HREF=acc/AMS_Memory_get_field_block.html>AMS_Memory_get_field_block</A>
<LI> <A HREF=acc/AMS_Memory_get_field_info.html>AMS_Memory_get_field_info</A>
<LI> <A HREF=acc/AMS_Memory_get_field_list.html>AMS_Memory_get_field_list</A>
<LI> <A HREF=acc/AMS_Memory_set_field_info.html>AMS_Memory_set_field_info</A>
<LI> <A HREF=acc/AMS_Memory_update_recv_begin.html>AMS_Memory_update_recv_begin</A>
<LI> <A HREF=acc/AMS_Memory_update_recv_end.html>AMS_Memory_update_recv_end</A>
<LI> <A HREF=acc/AMS_Memory_update_send_begin.html>AMS_Memory_update_send_begin</A>
<LI> <A HREF=acc/AMS_Memory_update_send_end.html>AMS_Memory_update_send_end</A>
</MENU>
<H2> Publisher API Routines </H2>
<MENU>
<LI> <A HREF=pub/AMS_Comm_destroy.html>AMS_Comm_destroy</A>
<LI> <A HREF=pub/AMS_Comm_publish.html>AMS_Comm_publish</A>
<LI> <A HREF=pub/AMS_Memory_AMS_set_field_func.html>AMS_Memory_AMS_set_field_func</A>
<LI> <A HREF=pub/AMS_Memory_add_field.html>AMS_Memory_add_field</A>
<LI> <A HREF=pub/AMS_Memory_create.html>AMS_Memory_create</A>
<LI> <A HREF=pub/AMS_Memory_destroy.html>AMS_Memory_destroy</A>
<LI> <A HREF=pub/AMS_Memory_grant_read_access.html>AMS_Memory_grant_read_access</A>
<LI> <A HREF=pub/AMS_Memory_grant_write_access.html>AMS_Memory_grant_write_access</A>
<LI> <A HREF=pub/AMS_Memory_publish.html>AMS_Memory_publish</A>
<LI> <A HREF=pub/AMS_Memory_set_field_block.html>AMS_Memory_set_field_block</A>
<LI> <A HREF=pub/AMS_Memory_set_field_permutation.html>AMS_Memory_set_field_permutation</A>
<LI> <A HREF=pub/AMS_Memory_set_field_start_index.html>AMS_Memory_set_field_start_index</A>
<LI> <A HREF=pub/AMS_Memory_take_read_access.html>AMS_Memory_take_read_access</A>
<LI> <A HREF=pub/AMS_Memory_take_write_access.html>AMS_Memory_take_write_access</A>
</MENU>
<H2> Publisher/Accessor Routines </H2>
<MENU>
<LI> <A HREF=pubacc/AMS_Explain_error.html>AMS_Explain_error</A>
<LI> <A HREF=pubacc/AMS_Print.html>AMS_Print</A>
<LI> <A HREF=pubacc/AMS_Set_abort_func.html>AMS_Set_abort_func</A>
<LI> <A HREF=pubacc/AMS_Set_exit_func.html>AMS_Set_exit_func</A>
<LI> <A HREF=pubacc/AMS_Set_output_file.html>AMS_Set_output_file</A>
</MENU>
